<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilica | Music</title>
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </nav>
    </header>

    <main>
        <h1>Music //</h1>
        <h5>Direct Links</h5>
        <nav>
            <ul>
                <ul>
                    <li><a href="#album">Album</a></li>
                    <li><a href="#organic">Video: Organic Love</a></li>
                    <li><a href="#street">Video: Street Light</a></li>
                </ul>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h2>Album <br>twist in my reality</h2>
                <img src="/img/emilia-play-list.png" alt="play listy emilia">
                <ol>
                    <li><i class="fas fa-play"></i>Organic Love | 02:40</li>
                    <li><i class="fas fa-play"></i>Twist in My Reality | 02:10</li>
                    <li><i class="fas fa-play"></i>Street Light | 03:28</li>
                    <li><i class="fas fa-play"></i>Love Don't Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go Top</a>
            </article>
            <!-- video organico -->
            <article id="organic">
                <h2>Video <br>Organic Love</h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <ul>
                    <li>Directed by VICE MALC & EMILIA COLE</li>
                    <li>Edited and Filmed by NICOLAS TROY</li>
                    <li>Produced by NIKI HEART,</li>
                    <li>Wix Films LTD.</li>
                </ul>
                <a href="#">Go Top</a>
            </article>
            <!-- video STREET -->
            <article id="street">
                <h2>Video <br>Street light</h2>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <ul>
                    <li>Directed by VICE MALC & EMILIA COLE</li>
                    <li>Edited and Filmed by NICOLAS TROY</li>
                    <li>Produced by NIKI HEART,</li>
                    <li>Wix Films LTD.</li>
                </ul>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>

    

    
</body>
</html>